# Python cache
__pycache__/
*.pyc

# Base de datos
*.db
data/*.db

# Entornos virtuales
venv/
.venv/
env/

# Archivos del sistema operativo e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs y Archivos generados
*.log
*.csv
*.xlsx
*.png

# Archivos temporales de testeo
test.ipynb
loader.py
roadmap.txt
test.py
