# Python cache
__pycache__/
*.pyc

# Base de datos
*.db
data/*.db

# Entornos virtuales (si usas alguno)
venv/
.venv/
env/

# Archivos del sistema operativo
.DS_Store

# Archivos temporales de testeo
test.ipynb